.contenido_izquierdo{
    grid-area: contenido_izquierdo;
    text-align: center;
    background: rgb(255, 255, 255);
    width: 90%;
    top: 0px;
    left: calc(50% - 50px);
    margin: 20px auto 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;/*propiedad suave al efecto*/
    
}
.contenido_izquierdo h1{
    font-size: 50px;
    color: rgb(0, 255, 34);
}
.redes_sociales .icon-facebook{
    font-size: 50px;
    border: 0;
    text-decoration: none;
    color: rgb(3, 25, 92);
}
.redes_sociales .icon-facebook:hover{
    color: rgba(37, 0, 245, 0.692);
}
.redes_sociales .icon-twitter{
    font-size: 50px;
    border: 0;
    text-decoration: none;
    color: rgb(65, 166, 225);
}
.redes_sociales .icon-twitter:hover{
    color: rgba(25, 90, 151, 0.692);
}
.redes_sociales .icon-youtube{
    font-size: 50px;
    border: 0;
    text-decoration: none;
    color: rgb(236, 0, 0);
}
.redes_sociales .icon-youtube:hover{
    color: rgba(245, 0, 0, 0.692);
}
.contenido_izquierdo .tachos{
    margin-top: 50px;
    border-top: solid 1px rgb(19, 12, 12);
    box-shadow: 1px 0px 10px rgba(34, 24, 24, 0.753);
}
.tachos h3{
    color: rgb(0, 250, 0);
    font-size: 40px;
}
.tachos_plastico{
    margin-top: 50px;
    color: rgb(0, 250, 0);
    font-size: 40px;
    box-shadow: 1px 0px 0px rgba(34, 24, 24, 0.753);
}
.tachos_glass{
    margin-top: 50px;
    color: rgb(0, 250, 0);
    font-size: 40px;
    box-shadow: 0px 0px 10px rgba(34, 24, 24, 0.753);
}
