
.head{
    
    grid-area: head;
    z-index: 2;
    top: 0px;/*importante el spacio para el sticky*/
}
.logoamb{
    width: 200px;
    height: 50px;
    margin-left: 50px;
    float: left;
}


@media screen and (max-width: 768px){
    .logo img{
        height: 70px;
        width: 150px;
        margin: 0;
    }
    
}

